@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilites {
  .form__page {
    width: 100dvw; 
    height: 100dvh; 
    display: flex; 
    justify-content: center;
    align-items: center;

    background: #000;
  }
}